
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@font-face {
    font-family: 'Montserrat-Bold', sans-serif;
    src: url('../../fonts/Montserrat-Bold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
// Primary colors
$mutuus-blue: #003F9A;
$green-orange: #9CD41C;
$mutuus-title: #000000;
$white: #ffffff;
// Secondary colors
$mutuus-label: #11142D;
$mutuus-placeho: #9A9AB0;

// Tipography
$regular-m: 'Montserrat', sans-serif;
$bold-m: 'Montserrat-Bold', sans-serif;
$regular-mulish: 'Mulish', sans-serif;
$ogg: ogg;
