.code_validations {
    .container-code_access {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 0 300px;
    }

    .button-code {
        padding-top: 60px;
        margin: 0 350px;
    }
     p{
         font-family: $regular-m;
         font-size: 13px;
     }
}