.login-acceso{
    font-family: $regular-mulish;
    font-size: 12px;
    color: black;
    font-weight: 700;
    line-height: 18px;
    align-items: center;

    .form-login {
        span {
            font-family: $regular-mulish;
            font-size: 9px;
            color: red;
        }
    }
   
}