.login-acceso-p{
    font-family: $regular-m;
    font-size: 12px;
    color: black;
    font-weight: 600;
    line-height: 18px;
    align-items: center;


    span {
        font-family: $regular-m;
        font-size: 9px;
        color: red;
        font-weight: 400;
    }
}