.membership-user{
    font-family: $regular-m;
    font-size: 12px;
    color: black;
    font-weight: 550;
    line-height: 18px;

    .title-componente{
        font-size: 20px;
        color: #11142D;
        font-weight: 700;
        // line-height: 15px;
    }

    .info-err {
        span {
            font-family: $regular-m;
            font-size: 9px;
            color: red;
        }
    }

    .radius-sel {
        align-items: center !important;
        border: 1px;
        border-style: solid;
        border-color: #9CD41C;
        border-radius: 15px;
        margin-top: 7px;
        
        label {
        font-family: $regular-m;
        font-size: 12px;
        color: #9A9AB0;
        margin: 8px;
    }
    }
    .info-cuadro {
        width: 50%;
        background-color: white;
        border-radius: 15px;
    }
    .info-pago {
        text-align: center;
        padding-top: 10px;
        height: 80px;
        background-color: #9CD41C;
        border-radius: 15px;

        .textinfo{
            font-size: 12px;
            color: #FFFFFF;
            margin: 5px;
        }
        .textTotal{
            font-size: 22px;
            color: #FFFFFF;
        }
    }
    .title-info{
        p{
            font-family: $regular-m;
            font-size: 18px;
            color: #11142D;
            font-weight: 700;
            line-height: 18px;
        }
    }

    .form-clave{
        display: flex;
        justify-content:space-between !important;
    }
  
  
   
}