.register-acceso{
    font-family: $regular-m;
    font-size: 12px;
    color: black;
    font-weight: 400;
    line-height: 18px;
    align-items: center;

    span {
        font-family: $regular-m;
        font-size: 9px;
        color: red;
    }
  
   
}