// Generals
@import './base/reset';
@import './base/variables';
@import './base/mixins';
@import './base/generals';

// Components


// Layout
@import './layout/acceso';
@import './layout/informations';

// Views
@import './pages/login';
@import './pages/register';
@import './pages/code';
@import './pages/informations';